<!doctype html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <title>
         {{ .Site.Title }} | {{ if .Page.Title }}{{ .Page.Title }}{{ end }}
      </title>

      <link
         href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap"
         rel="stylesheet"
      />
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
         rel="stylesheet"
      />

      <link rel="stylesheet" href="/assets/styles.css" />

      <link rel="stylesheet" href="/assets/custom.css">

   </head>

   <body>
      
      {{ partial "header.html" . }}
      {{ block "main" . }}
      {{ end }}
      {{ partial "footer.html" . }} 

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/assets/js/generic.js"></script>

      {{ if eq (path.Base .File.Dir) "/" }}
         <script src="/assets/js/home.js"></script>
      {{ else }}
         <script src="/assets/js/blog.js"></script>
      {{ end }}
   </body>
</html>
