<!-- Container: Small   -->
<div class="max-w-7xl mx-auto px-7 sm:px-0 py-10 md:py-16 overflow-hidden h-4/6 bg-no-repeat bg-hero">

    <div class="lg:col-span-2 lg:max-w-none xl:col-span-2 lg:hidden">
        <img class="mx-auto w-52 mb-6" src="/assets/images/hero.png" alt="">
    </div>

    <div class="grid lg:grid-cols-12 lg:gap-x-0 relative z-20">
        <div class="lg:col-span-10 lg:row-span-2 flex items-center mx-auto">
            <div class="text-center lg:text-left">
                <h1 class="hero-head text-4xl md:text-6xl lg:text-8xl text-white mt-5 lg:mt-0 mb-5 md:mb-14 sm:pr-2">
                    {{ .Params.HeroBanner.title | safeHTML }}</h1>

                <p class="mx-auto lg:mx-0 max-w-2xl my-6 md:my-14 opacity-60 text-xs md:text-lg leading-5 md:leading-7">
                    {{ .Params.HeroBanner.content }}</p>

                <div class="w-auto">
                    <a class="text-white text-lg font-bold ease-linear duration-200 button_down_arrow" href="#about-us"><img
                            class="w-20 h-20 md:w-24 md:h-24" src="/assets/images/btn.svg" alt=""></a>

                </div>
            </div>
        </div>
    </div>
</div>
</section>