<div class="bg-cover bg-no-repeat bg-center py-[80px] md:py-[180px]"
    style="background-image: url(/assets/images/newslater.png);">
    <div class="container mx-auto max-w-7xl">
        <h2 class="text-center text-[32px] md:text-[70px] font-medium leading-41px md:leading-91px text-white">
            Be up to date with the newest articles
        </h2>
        <div class="formnewslater flex items-center  justify-center mt-[40px] border-b border-white max-w-max mx-auto">
            <input
                class="bg-transparent border-none text-white focus:outline-none text-[18px] leading-21px py-[17px] w-[340px]"
                type="email" placeholder="Email">
            <button class="bg-center bg-no-repeat bg-transparent w-[24px] h-[24px] ml-2" type="submit">
                <img src="/assets/images/arrow-right.png" alt="Submit" class="w-full h-full">
            </button>
        </div>
    </div>
</div>